@import "tailwindcss";

@theme{
    --font-inter: Inter, sans-serif;
}

/* :root {
  --width-design: 1920;
  --hieght-design: 1080;
  --background: rgba(11, 116, 250, 0.1);
  --width-card: calc(57500 / var(--width-design) * 1%);
  --width-carousel: calc(62300 / var(--width-design) * 1%);
  --height-card-auth: calc(((64900 / var(--hieght-design) * 1%)));
  --card-ratio: calc(
    var((--width-card + --width-carousel) / var(--height-card-auth)) * 1%
  );
  --width-whole-card: calc(115000 / var(--width-design) * 1%);
  --height-whole-card: calc(64900 / var(--hieght-design) * 1%);
  --ratio-whole-card: calc(var(--width-whole-card)/var(--height-whole-card));
}

.aspect-card{
  aspect-ratio: var(--ratio-whole-card);
} */